<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* styles need to be inline */

    </style>
  </head>

  <body>
    <h1>New Article</h1>

    <%= render "form", article: @article %>

  </body>
</html>
