// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header {
    width: 100%;
    padding: 1.5rem 1.5rem;
    background: #6F48C9;
    position: fixed;
    top: 0;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1024px;
        margin: 0 auto;

        color: #fff;

        nav ul {
            display: flex;
            flex: 1;
            gap: 1rem;
            list-style: none;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
}

.main-card {
    width: 100vw;
    height: 500px;
    background: #fff9c4b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6F48C9;
    gap: 1rem;
}

.rss-input {
    form {
        display: flex;
        align-items: center;
        position: relative;
        height: 45px;
        max-width: 400px;
        margin: 1rem auto;
        &:active {
            outline: #808080;
        }

        label {
            position: absolute;
            top: 2px;
            left: 1rem;
            font-size: 14px;
            
        }
    
        input[type=text] {
            flex: 1;
            height: 45px;
            border: none;
            padding: 1rem 1rem;   
        }
    
        input[type=submit] {
            background: #04D361;
            border: none;
            outline: none;
            height: 45px;
            padding: 0 1rem;
            cursor: pointer;
            transition: filter .2s;
            &:hover {
                filter: brightness(.9);
            }
        }
    }
    
}
